<div id="book-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Libros Andar</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="book-navbar">
                <button id="refresh-book" class="btn btn-default navbar-btn" ng-hide="ctrl.bookMode" ng-click="ctrl.fetchBooksRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar Lista</button>
            </div>
        </div>
    </nav>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
<div ng-hide="ctrl.bookMode">
    <div class="col-sm-12">
        <div ng-repeat="record in records">
            <div class="col-md-4 col-sm-6 col-lg-3 well">
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image" ng-if="record.image">
                        <a ng-href="{{record.image}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{record.image}}" alt="{{record.image}}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Nombre:</strong> {{record.name}}</p>
                    <p><strong>Descripción:</strong> {{record.description}}</p>
                    <p><strong>ISBN:</strong> {{record.isbn}}</p>
                    <p><strong>Disponibles:</strong> {{record.inStock}}</p>
                </div>
                <p class="text-center">
                    <button id="{{$parent.$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.bookRecord(record)"><span class="glyphicon glyphicon-edit"></span> Reservar</button>
                    <button id="{{$parent.$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteBookRecord(record)"><span class="glyphicon glyphicon-minus"></span> Eliminar Reserva</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-show="ctrl.bookMode" class="well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(record)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <input id="timeStamp" class="form-control" type="hidden"  ng-model="currentRecord.timeStamp"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.email.$valid && form.email.$dirty, 'has-error': form.email.$invalid && (form.email.$dirty || form.$submitted)}" >
                <label for="email" class="col-md-2 control-label">Correo</label>
                <div class="col-md-10">
                    <input id="email" name="email" class="form-control" type="email" ng-model="currentRecord.email" required />
                </div>
            </div>
            <p class="text-center">
                <button id="save-booking" type="submit" form="book-form"  class="btn btn-default navbar-btn" ng-click="ctrl.saveRecord(record)"><span class="glyphicon glyphicon-refresh"></span>Enviar</button>
            </p>  
        </fieldset>
    </form>  
</div>